*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #23252c;
    font-family: 'Inter', sans-serif;
}

.card-container{
    background-color: #1a1b21;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.info-container{
    text-align: center;
}

.lion-image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.lion-title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 6px;
}

.lion-description{
    font-size: 13px;
    color: #f3bf99;
    font-weight: 400;
    margin-bottom: 10px;
}

.lion-website{
    color: #f5f5f5;
    font-size: 11px;
}

.info-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.email-button{
    display: flex;
    background-color: #fff;
    width: 150px;
    height: 34px;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-shadow: 0px  1px 2px rgba(0, 0, 0, 0.05);
}

.envelope-icon{
    height: 16px;
    color: #1e1f26;
    margin-right: 10px;
}

.email-text{
    color: #374151;
    font-size: 14px;
    font-weight: 500;
}

.linkedin-button{
    background-color: #5093e2;
    display: flex;
    width: 150px;
    height: 34px;
    align-items: center;
    justify-content: center;
    border: 1px solid #5093e2;
    border-radius: 6px;
    box-shadow: 0px  1px 2px rgba(0, 0, 0, 0.05);
}

.linkedin-icon{
    color: #fff;
    margin-right: 10px;
}

.linkedin-text{
    color: #fff;
}

.about-container{
    margin: 30px;
    color: #fff;
}

.about-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-text{
    font-size: 14px;
    font-weight: 400;
}

.interests-container{
    margin: 30px;
    color: #fff;
}

.interests-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.interests-text{
    font-size: 14px;
    font-weight: 400;
}

.footer-container {
    background-color: #161619;
    margin: 0px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.footer-icons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    color: #918e9b;
}

.footer-icons > *{
    height: 25px;
}