*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav-bar .airbnb-logo{
    height: 40px;
    margin: 22px 30px;
}

.hero-container{
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.hero-photo-grid{
    align-self: center;
    width: 75%;
    max-width: 600px;
    margin-bottom: 25px;
}

.hero-title{
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 600;
}

.hero-text{
    font-size: 18px;
    font-weight: 400;
}

.cards-list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.cards-list:last-child{
    padding-right: 20px;
}

.card-container {
    padding: 0px 0px 36px 36px;
    position: relative;
}

.card-sold{
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    margin: 8px;
    font-size: 11px;
    padding: 3px 8px;
}

.card-photo{
    border-radius: 9px;
    width: 200px;
}

.card-rating{
    display: flex;
}

.card-star-icon {
    height: 14px;
}

.card-rating h4 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
}

.card-text{
    font-size: 12px;
}

.card-price{
    font-size: 12px;
    font-weight: 400;
}

.bold{
    font-weight: 600;
}

