*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.random-shape-top{
    position: absolute;
    background-color: #fffad1;
    width: 300px;
    height: 300px;
    border-radius: 60% 40% 80% 80%;
    right: -150px;
    top: -200px;
}

.random-shape-bot{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 80% 80% 80% 80%;
    left: -200px;
    bottom: -150px;
    background-color: #deebf8;
}

.game-container{
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f7fb;
}

.game-title{
    color: #293264;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.game-description{
    color: #293264;
    font-weight: 400;
    margin-bottom: 25px;
}

.start-game-btn{
    padding: 16px 30px;
    background-color: #4d5b9e;
    border: none;
    border-radius: 15px;
    color: #f5f7fb;
    width: 200px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.quiz-container{
    width: 68%;
    margin: 0px auto;
}

.question-container{
    width: 100%;
}

.question{
    color: #293264;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
}

.answer-container{
    display: flex;
    justify-content: flex-start;
}

.answer {
    margin-right: 15px;
    color: #293264;
    border: 1px #293264 solid;
    border-radius: 7px;
    padding: 4px 15px;
}

hr.line{
    border: 1px #dbdef0 solid;
    background-color: #dbdef0;
    margin: 10px 0 20px;
}

.check-answers-btn{
    margin-top: 15px;
    padding: 16px 30px;
    background-color: #4d5b9e;
    border: none;
    border-radius: 15px;
    color: #f5f7fb;
    width: 200px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.answerSelected{
    background-color: #d6dbf5;
}

.error-message{
    color: red;
}

button:disabled{
    box-shadow: none;
}

.score-message{
    color: #293264;
    font-size: 16px;
    font-weight: 700;
}

#correct {
    background-color: #94d7a2;
}

#incorrect{
    background-color: #f8bcbc;
}

#not-selected{
    color: gray;
}

.config-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.config-label{
    font-size: 18px;
    color: #293264
}

.config-select{
    margin: 10px 0px;
    border: 1px solid #293264;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    color: #293264
}
